<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="css/index.min.css", rel="stylesheet")
		title flags
	body
		.flag.ukraine(data-tooltip="Ukraine")
			.line1
			.line2
		.flag.japan(data-tooltip="Japan")
			.circle
		.flag.island(data-tooltip="Island")
			.elem1
			.elem2
			.elem3
			.elem4
		.flag.czech(data-tooltip="Czech Republic")
			.line1
			.line2
